* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  background: radial-gradient(
    circle,
    rgba(238, 174, 196, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.container {
  width: 90%;
  margin: 0 auto;
}
.abowe {
  display: flex;
  justify-content: space-between;
}
.abowe .icons ul {
  list-style: none;
  display: flex;
}
.abowe .icons ul li {
  margin-right: 20px;
  font-size: 20px;
  color: white;
}
.abowe .about span {
  margin-right: 30px;
  color: white;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
}

.below .logo h1 a {
  font-size: 45px;
  color: white;

  text-decoration: none;
}
.below {
  display: flex;
  justify-content: space-between;
}
.below .nav ul {
  display: flex;
  list-style: none;
  position: relative;
}
.below .nav ul li a {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 800px;
  color: white;
  text-decoration: none;
}
.nav ul li span {
  font-size: 11px;
  position: absolute;
  right: 5px;
  color: white;
}
