* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class*="desc"] {
}
/* body {
  font-family: "Duru Sans", sans-serif;
} */
.container {
  margin-left: 40px;
}
.head {
  width: 500px;
  height: 250px;
  margin: 12px 20px;
  font-size: 18px;
}
.head .logo {
  color: rgb(73, 70, 70);
  font-weight: bold;
}
.head .abowe-logo {
  font-size: 17px;
  color: rgb(65, 64, 64);
}
.about .image-about img {
  width: 200px;
}
.about .image-about {
  display: inline-block;
}
.about .desc {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin-left: 20px;
  flex-shrink: 3;
}

.about .desc .desc-title a {
  text-decoration: none;
  color: rgb(59, 57, 57);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about .desc .desc-inform {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about .desc .more a {
  text-decoration: none;
  color: rgb(65, 64, 64);
  font-size: larger;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.about {
  width: 50%;
}

.col-6 {
  width: calc(100% * 6 / 12);
}
.col-12 {
  width: calc(100%);
}
@media (max-width: 600px) {
  .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .image-about img {
    display: none;
  }
}
